@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Rubik;
  background-color: hsl(0, 0%, 59%);
  color: hsl(0, 0%, 17%);
}
.header {
  background-color: blue;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  z-index: 2; /*ensure dashboard overlay works.*/
   background-image: url(images/pattern-bg-desktop.png);
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  max-width: 500px;
  margin: 15px auto 0 auto;
  
}
#ip-input {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px 0 0 8px;
  flex-grow: 1;
}
#search-btn {
  padding: 10px 15px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
 
}
#search-btn:hover {
  background-color: lightslategrey;
}

.api-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  max-width: 100%;
  max-width: -50px auto 20px auto;
  position: relative;
  z-index: 1;
}

#map {
  height: 60vh;
  width: 100%;
  z-index: 0;
}
@media (max-width: 768px) {
}
