@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Rubik;
  background-color: hsl(0, 0%, 59%);
}
.header {
  background-image: url(images/pattern-bg-desktop.png);
  background-size: cover;
  background-position: center;
  min-height: 280px;
  text-align: center;
  padding: 30px 24px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.header h1 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500px;
}

/* Header */
.header {
  background-image: url(images/pattern-bg-desktop.png);
  background-size: cover;
  background-position: center;
  min-height: 280px;
  padding: 30px 24px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.header h1 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Search */
.search-container {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

#ip-input {
  flex: 1;
  padding: 14px 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

#search-btn {
  background-color: black;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 0 8px 8px 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-btn img {
  width: 16px; /* size of the arrow icon */
  height: 18px;
  display: block; /* remove inline spacing issues */
}

#search-btn:hover {
  background-color: hsl(0, 0%, 30%);
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* floating card*/
.data-dashboard {
  position: absolute; /* float over header and map */
  top: 230px; /* adjust vertical position */
  left: 50%; /* center horizontally */
  transform: translateX(-50%);
  z-index: 3; /* ensures it is above header & map */
  justify-content: center;
  width: 90%;
  display: flex;
}

/* api info*/
.api-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  max-width: 1100px;
  width: 90%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

.info-group {
  padding: 0 1.5rem;
}

.info-group:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.info-group strong {
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 59%);
  margin-bottom: 0.5rem;
}

.info-group span {
  font-size: 1.2rem;
  font-weight: 700;
}

/*map */
#map {
  height: 65vh;
  width: 100%;
  margin-top: -50px; /** removes gap below header */
  position: relative;
  z-index: 0;
}

/* mobile */
@media (max-width: 768px) {
  .data-dashboard {
    top: 150px; /* adjust for smaller header */

    .api-info {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 20px;
    }

    .info-group {
      padding: 0;
    }

    .info-group:not(:last-child) {
      border-right: none;
    }
  }
}
